.navbar-container{
    display: flex;
    justify-content: space-between;
    background-color: hwb(0 96% 1% / 0.973);
}
.navbar-container img{
    width: 60px;
    height: 30px; 
    
}
.logo-container{
    display: flex;
    width: 50%;
    gap: 10px;
    margin-left: 40px;
    align-items: center;
}
.logo-container h1 span{
    color: #F948B2;
}
.menu-items{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 50%;

}
.menu-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 250px;
    padding-top: 17px;
   
}

.icon{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    
    
}
.menu-items a{
    text-decoration: none;
    padding-right: 25px;
    text-align: center;
    
}
.nav-icon{
    border: 1px solid grey;
}
/* nav style end here */
.banner{
    display: flex;
}
.banner-text{
    width: 50%;
    text-align: center;
    padding-top: 150px;
}
.banner-text h1{
    color:#F948B2;
}
.btn-primary{
    color: white;
    background-color:#F948B2 ;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
}
.btn-secondary{
    color: white;
    background-color:#4EC5F7 ;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;

}
.banner-img2{
    display: flex;
    justify-content: space-between;
}

/* gammer section style start here */

.gammer-container{
    display: flex;
    margin-top: 100px;

}
.gammer-img{
    width: 50%;
}
.gammer-img img {
    width: 100%;
}
.gammer-text{
    width: 50%;
}
.gammer-text h1{
    color: #F948B2;

}
.online-gammer-text span{
    color: #F948B2 ;

}
.online-games-section{
    display: flex;
    justify-content: space-around;
}
.donwload-icon{
    position: relative;
    bottom: 200px;
    left: 120px;
   
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.hover-img img:hover{
    border: 1px solid transparent;
    opacity: 0.8;

}

.games-part{
    width: 250px;
    height: 350px;
    gap: 10px;
}
.games-part img{
    width: 100%;
    height: 100%;

}
.online-gammer-text{
    text-align: center;
}
.play-container{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.play-text span{
    color: #F948B2;
}
.play-img-overlay{
    position: relative;
    bottom: 210px;
    right   : 130px;
    width: 250px;
    height: 250px;
}
.play-img-overlay img{
    width: 100%;
    height: 100%;
}

.carrier-section , .carrier-text-list{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
}
.carrier-img{
    width: 550px;
    height: 450px;
   
}
.carrier-img img{
    width: 100%;
    height: 100%;
}
.carrier-text{
    width: 50%;
}
.carrier-text-item{
    text-align: left;
}
.btn-tertiary{
    background-color: white;
    color:#F948B2;
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.five-type , .game-type-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    max-width: 1250px;;
}
.four-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
 .game-type-items:hover{
    border: 1px solid #F948B2;
    border-radius: 25px;
 }   
    
    

}
.game-type-items p{
    font-size: 1.20em;
    /* text-align: center; */
    /* width: 100%; */
    background: #FFF;
    height: 95%;
    width: 95%;
    margin-left: 20px;

    
}

.game-type-items p:hover{
    border-radius: 50px;
    /* border: 1px solid #F948B2; */
}

.footer-menu-list{
    display: flex;
    max-width: 650px;
    justify-content: space-around;
    text-align: center;
    padding-left: 300px;
    list-style: none;


}
.icon-list{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    gap: 25px;
    padding-left: 600px;
    
}
/* footer style start here */
.footer-container{
    background-color: #0B0223;
    color: white;
    height: 150px;
    padding-top: 100px;
    margin-top: 50px;
}
.footer-menu-list a{
    color: white;
    list-style: none;
    text-decoration: none;
}
.footer-logo{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.terms-condition-items{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    color: grey;
}
.rights{
    color: rgb(184, 133, 133);
    background-color:#0B0223 ;
    text-align: center;
}

/* responsive css start here */
@media screen and (min-width:320px) and (max-width:480px) {
    .navbar-container , .menu-items, .menu-list, .gammer-container, .online-games-section, .play-container,
    .carrier-section {
        flex-direction: column;
    }

    .logo-container{
        padding-left: 70px;
    }
    .menu-list{
        margin-right: 10px;
        padding-left: 120px;
        width: 100%;
    }
    .icon{
        padding-left: 130px;
    }
    .banner{
        flex-direction: column-reverse;
        width: 400px;
    }
    .banner-img1{
        width: 350px;
        height: 250px;
        margin-top: 100px;
    }
    .banner-img1 img{
        width: 100%;
        height: 100%;
    }
    .banner-part1{
        padding-top: 20px;
    }
    .banner-text{
        width: 100%;
    }
    .online-games-section{
        width: 350px;
        gap: 20px;
        
    }
    .games-part{
        width: 100%;
    }
    .play-img{
        width: 350px;
        height: 350px;
        margin-bottom: 100px;
    }
    .play-img img{
        width: 100%;
        height: 100%;
        margin-left: 30px;
    }
    .play-img-overlay{
        width: 150px;
        height: 200px;
    }
    .play-img-overlay img{
        width: 100%;
        height: 100%;
        position: relative;
        left: 100px;
        top: 85px;
    }
    .carrier-text{
        width: 100%;
        text-align: center;
    }
    .five-type{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .four-type{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .mobile-hide{
        display: none;
    }
    .footer-menu-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 0px;
    }
}
